@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@layer base{
    body{
        @apply font-[Raleway]
    }
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
    li:hover{
        border-bottom: 4px solid #E4AD59;
    }
    span{
        color: #E4AD59;
    }
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}
.content-div:hover{
    background-image: linear-gradient(
        to top,
        #E4AD59,
        #d69532
    )!important;
}